{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}แบบฟอร์มการเขียนบทความ{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
	<br> <!-- เว้นบรรทัด -->

	<div class="d-flex justify-content-center container bg-light btn bg-dark"> <!-- ศึกษา d-flex & justify เพิ่มเติม -->
		<h1 class="col-5 text-center text-light" style="font-family: Ubuntu;">BlackSmith Mentality</h1>
	</div>
	<br> <!-- เว้นบรรทัด -->

		<form method="POST" action="{% url 'blog:article_form' %}" class="container card border border-dark" validate>
			
			{% csrf_token %}
			<br> <!-- เว้นบรรทัด -->

			<div class="container">
				{{ form.article_name|as_crispy_field }}
				{{ form.content|as_crispy_field }}
			</div>

			<div class="text-center mb-3">
				<input class="btn btn-dark btn-lg" type="submit" value="Submit" style="font-family: Ubuntu;">
			</div>
		</form>
	<br> <!-- เว้นบรรทัด -->

</div>


{% endblock content %}