{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Bootstrap CSS -->
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	
	<title>{% block title %}{% endblock title %}</title>
	{% block head %}{% endblock head %}
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<h3 class="ms-2" style="font-family: Ubuntu;">BSM.</h3>
			</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: Ubuntu;">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item col-5">
						<a class="navbar-brand nav-link active text-warning" href="{% url 'blog:blog_home' %}">articles</a>
					</li>

					{% if user.is_authenticated %}
					<li class="nav-item col-5">
						<a class="navbar-brand nav-link active text-warning" href="{% url 'blog:article_form' %}">
						write<span class="m-auto">{% bs_icon 'pencil-square' %}</span></a>
					</li>
					{% endif %}
				</ul>
			</div>

			{% if user.is_authenticated %}
			<div class="col-4" style="font-family: Ubuntu;">
				<form action="{% url 'accounts:sign_out' %}" method="post">
					{% csrf_token %}
					<button class="btn btn-sm btn-outline-danger float-end mt-2" 
							type="submit">
						<span><strong>Sign out</strong></span>
					</button>
				</form>
				
				<!-- ยังไม่ได้ใส่ link คิดว่าเป็นลิ้งค์ที่เชื่อมไปดู profile user -->
				<ul class="navbar-nav float-end me-1">
					<li class="nav-item">
						<a href="#" class="btn btn-sm shadow-none float-end col-10 me-4 text-light">
							<h3><strong class="text-capitalize text-warning">{{ user.username }} !</strong></h3>
						</a>
					</li>
					
					
				</ul>
				
				
			</div>
			{% else %}
			<div class="col-4" style="font-family: Ubuntu;">
				<!-- ยังไม่ได้ใส่ link -->
				<a href="{% url 'accounts:sign_up' %}" class="btn btn-sm btn-outline-light float-end">
					<b>Sign up</b>
				</a>
				<a href="{% url 'accounts:sign_in' %}" class="btn btn-sm btn-outline-light float-end me-3">
					<b>Sign in</b>
				</a>
			</div>
			{% endif %}
		 


		</div>
	  </nav>
	  <!-- /navbar -->

	{% block content %}{% endblock content %}

	<!-- Bootstrap JS -->
	<!-- Bootstrap Bundle with Popper -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>