{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">
			<h4 style="font-weight: 400;">BS Mentality</h4>
		  </a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="navbar-brand nav-link active mb-1" href="#">บทความ</a>
			  </li>
		  </div>

		  <div class="col-2">
			<!-- ยังไม่ได้ใส่ link -->
			<a href="" class="btn btn-sm btn-outline-light float-end">
				<b>sign in</b>
			</a>
			<!-- ยังไม่ได้ใส่ link -->
			<a href="" class="btn btn-sm btn-outline-light float-end">
				<b>sign up</b>
			</a>
		  </div>
		 


		</div>
	  </nav>
	  <!-- /navbar -->
	{% block content %}{% endblock content %}

	<!-- Bootstrap JS -->
	<!-- Bootstrap Bundle with Popper -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>