{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BlackSmith Mentality{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<style>
    *{
        font-family: 'Ubuntu';
    }
    .title{
        border-style: groove;
    }
    .titlelists{
        border-style: double;
        border-color: #ffffff;
        font-size: 375%;
        color: #ffffff;
        background-color: #000000;
    }
</style>
{% endblock %}

{% block content %}

<br><!-- เว้นบรรทัด -->
<div class="container-fluid text-center text-light">
    <span class="container col-4 titlelists">
        Title lists
    </span>
</div>
<br><!-- เว้นบรรทัด -->

{% for blogs in blogs %}
<div class="container-fluid col-6 title mb-3 rounded">
    <p style="font-size: 200%;">
        <a href="#" style="text-decoration: none;" class="text-dark"><b>{{ blogs.article_name}}</b>&nbsp;</a>
    </p>
    <span style="font-size: 85%;" class="badge bg-secondary">By &nbsp;{{ blogs.writer }}</span>
    <br>
    <p><span style="font-size: 95%;" class="text-secondary mb-5">tag :</span></p>
</div>
{% endfor %}


{% endblock content %}