{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}BlackSmith Mentality{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<style>
    *{
        font-family: 'Ubuntu';
    }
</style>
{% endblock %}

{% block content %}

<br><!-- เว้นบรรทัด -->
<div class="container-fluid text-center text-dark">
    <div style="font-size: 350%; border-style: groove; font-weight: bold;" class="container col-5 rounded">บทความ</div>
</div>
<br><br><!-- เว้นบรรทัด x 2 -->

<div class="container-fluid col-7">
    {% for blogs in blogs %}
    <p style="font-size: 250%;">
        <a href="#" style="text-decoration: none;" class="text-dark"><b>{{ blogs.article_name}}</b></a>
    </p>
    <span style="font-size: 100%;" class="badge bg-secondary">By &nbsp;{{ blogs.writer }}</span>
    <hr>
    {% endfor %}
</div>


{% endblock content %}