{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block title %}{{ blog.article_name }}{% endblock title %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <style>
        button{
            font-family: Ubuntu;
        }

        a{
            text-decoration: none;
        }
    </style>

{% endblock %}

{% block content %}

<div class="container-fluid"> <br>
    <div class="container card border border-secondary">
        <div class="container card-body">
            <h3>
                <span class="border-bottom border-dark text-center">
                    {{ blog.article_name }}
                </span>
                <span class="ms-1">
                    <a href="{% url 'accounts:favourite_add' blog.id %}" class="text-secondary">
                        {% bs_icon 'bookmark-plus' size='20px' %}
                    </a>
                </span>

                {% if user.id == blog.writer.id %}

                    <a href="/delete/{{ blog.id }}" onclick="return confirm('Do you sure to delete this article?')">
                        <button class="btn btn-danger float-end mt-2 ms-2">
                            Delete
                        </button>
                    </a>
                    <button class="btn btn-dark float-end mt-2">
                        <a href="/edit/{{ blog.pk }}" class="text-light">
                            Edit article
                        </a>
                    </button>

                {% endif %}
                
            </h3>
        </div>
        <div class="container card-body mb-1 p-0">
            <p>{{ blog.content|safe }}</p>
            <br>
            <h6 class="d-flex justify-content-between align-items-center">
                <span class="badge bg-secondary d-flex align-self-end">
                    By {{ blog.writer }}
                </span>
				
				{% comment %} Like button {% endcomment %}
                <span>
                    <form action="{% url 'blog:like_blog' blog.id %}" method="POST">
                        {% csrf_token %}
    
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <button type="submit", name="blog_id", value="{{ blog.id }}",  class="btn btn-danger btn-sm">
                                    Unlike
                                </button>
        
                            {% else %}
                                <button type="submit", name="blog_id", value="{{ blog.id }}", class="btn btn-primary btn-sm">
                                    Like
                                </button>
        
                            {% endif %}
                        {% endif %}
        
                     - {{ total_likes }} Likes
                    </form>
                </span>
            </h6>
        </div>
    </div>
</div>
{% endblock content %}
