{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load humanize %}


{% block title %}BlackSmith Mentality{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<style>
    .ubuntu{
        font-family: 'Ubuntu';
    }
    .title{
        border-style: groove;
        cursor: pointer;
    }
    .titlelists{
        
        font-size: 375%;
    }
</style>
{% endblock %}

{% block content %}
    {% for blog in new %}
        {{ blog.article_name }}
    {% endfor %}
{% endblock %}